._btn {
  transition: 0.5s;
  cursor: pointer;
  &:hover {
    filter: brightness(50%);
  } 
} 

._hover {
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    // background-color: $color-gray;
  }
}

.square-btn{
  display: block;
  width: 100px;
  padding: 10px;
  background-color: $color-red;
  color: $color-wh;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  &:hover {
    filter: brightness(60%);
  }
}

.circle-btn{
  border-radius: 100px;
  display: block;
  width: 200px;
  padding: 15px;
  box-sizing: border-box;
  background-color: $color-red;
  color: $color-wh;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  &:hover {
    filter: brightness(60%);
  }
}

.btn-parts2 {
  font-size: 16px;
  border-radius: 5px;
  color: white;
  text-align: center;
  transition: 0.5s;
  margin: 0 auto;
  @include hvr-pop(1.05);

  &._red {
    background-color: $color-red;
  }

  &._blue {
    background-color: $color-blue;
  }

  &._gray {
    background-color: $color-gray;
  }

  &._gray2 {
    background-color: $color-gray2;
  }

  &._white {
    background-color: white;
  }

  &:hover {
    filter: brightness(60%);
  }
}

.select-triangle {
  position: relative;

  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: $color-gray2 transparent transparent transparent;
    pointer-events: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.errorBox{
  color: $color-red;
  margin-top: 10px;
}

.errorBox2{
  color: $color-red;
  margin-left: 10px;
}

.successMessage {
  position: fixed;
  animation: slideIn 2s;
  z-index: 100;
  top: 100px;
  left: 55%;
  transform: translateX(-55%);
  @media #{$phone} {
    width: 100%;
    top: 70px;
    left: 55%;
    animation: slideUp 2s;
  }
}